/* skl basic styl */

.skl_ton.title{
    width: 50%;
    height: 20px;
    background-color: #dee2e6;
    border-radius: 5px;
    margin: 25px 0px;
    animation: Animate_el ease-in-out 2.5s infinite;
}


.skl_ton.text{
    width: 100%;
    height: 15px;
    background-color: #dee2e6;
    border-radius: 5px;
    animation: Animate_el ease-in-out 2.5s infinite;
}


.skl_ton.image{
    width: 301px;
    height: 250px;
    background-color: #dee2e6;
    border-radius: 5px;
    animation: Animate_el ease-in-out 2.5s infinite;
}


.skl_ton.image_job{
    width: 100%;
    height: 100%;
    background-color: #dee2e6;
    border-radius: 5px;
    animation: Animate_el ease-in-out 2.5s infinite;
}

.skl_ton.price{
    width: 25%;
    height: 15px;
    background-color: #dee2e6;
    border-radius: 5px;
    animation: Animate_el ease-in-out 2.5s infinite;
}

/* .skl_ton.price_job{
    width: 25%;
    height: 15px;
    background-color: #dee2e6;
    border-radius: 5px;
    margin-left: 35px;
} */

.skl_ton.btn{
    width: 135px;
    height: 45px;
    background-color: #dee2e6;
    border-radius: 5px;
    margin: 5px 0px;
    animation: Animate_el ease-in-out 2.5s infinite alternate;
}







/* dhex mar style --------  */
div.Haye_dhexmare{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: Loading 2s infinite;
}


div.Haye_dhexmare div.dhexmare{
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.274);
    transform: skewX(-20deg);
}




@keyframes Animate_el {
    50% {
        background-color: #f5f5f5;
    }

    100% {
        
        background-color: #dee2e6;
    }
    
}
@keyframes Loading {
    0% {transform: translateX(-150%);}
    50% {transform: translateX(-60%);}
    100% {transform: translateX(150%);}
}